/.idea/.idea.TaskManagerSPED.dir/.idea/.gitignore
/TaskManagerApi/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/TaskManagerApi/obj/Debug/net10.0/apphost.exe
/TaskManagerApi/bin/Debug/net10.0/appsettings.Development.json
/TaskManagerApi/appsettings.Development.json
/TaskManagerApi/bin/Debug/net10.0/appsettings.json
/TaskManagerApi/appsettings.json
/.idea/.idea.TaskManagerSPED.dir/.idea/encodings.xml
/.idea/.idea.TaskManagerSPED.dir/.idea/indexLayout.xml
/TaskManagerApi/Properties/launchSettings.json
/TaskManagerApi/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
/TaskManagerApi/bin/Debug/net10.0/Microsoft.OpenApi.dll
/TaskManagerApi/obj/project.assets.json
/TaskManagerApi/obj/project.nuget.cache
/TaskManagerApi/obj/project.packagespec.json
/README.md
/TaskManagerApi/obj/rider.project.model.nuget.info
/TaskManagerApi/obj/rider.project.restore.info
/TaskManagerApi/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/TaskManagerApi/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/TaskManagerApi/obj/Debug/net10.0/rpswa.dswa.cache.json
/TaskManagerApi/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/TaskManagerApi/obj/Debug/net10.0/staticwebassets.build.json
/TaskManagerApi/obj/Debug/net10.0/staticwebassets.build.json.cache
/TaskManagerApi/obj/Debug/net10.0/swae.build.ex.cache
/TaskManagerApi/bin/Debug/net10.0/Swashbuckle.AspNetCore.Swagger.dll
/TaskManagerApi/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/TaskManagerApi/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/TaskManagerApi/obj/Debug/net10.0/TaskMana.D9459CD6.Up2Date
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.AssemblyInfo.cs
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.AssemblyInfoInputs.cache
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.assets.cache
/TaskManagerApi/TaskManagerApi.csproj
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.csproj.AssemblyReference.cache
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.csproj.CoreCompileInputs.cache
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.csproj.FileListAbsolute.txt
/TaskManagerApi/obj/TaskManagerApi.csproj.nuget.dgspec.json
/TaskManagerApi/obj/TaskManagerApi.csproj.nuget.g.props
/TaskManagerApi/obj/TaskManagerApi.csproj.nuget.g.targets
/TaskManagerApi/bin/Debug/net10.0/TaskManagerApi.deps.json
/TaskManagerApi/bin/Debug/net10.0/TaskManagerApi.dll
/TaskManagerApi/obj/Debug/net10.0/ref/TaskManagerApi.dll
/TaskManagerApi/obj/Debug/net10.0/refint/TaskManagerApi.dll
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.dll
/TaskManagerApi/bin/Debug/net10.0/TaskManagerApi.exe
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.genruntimeconfig.cache
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.GlobalUsings.g.cs
/TaskManagerApi/TaskManagerApi.http
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.MvcApplicationPartsAssemblyInfo.cache
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.MvcApplicationPartsAssemblyInfo.cs
/TaskManagerApi/bin/Debug/net10.0/TaskManagerApi.pdb
/TaskManagerApi/obj/Debug/net10.0/TaskManagerApi.pdb
/TaskManagerApi/bin/Debug/net10.0/TaskManagerApi.runtimeconfig.json
/TaskManagerApi/bin/Debug/net10.0/TaskManagerApi.staticwebassets.endpoints.json
/.idea/.idea.TaskManagerSPED.dir/.idea/vcs.xml
