<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">📋 Tasks</h4>

    <button class="btn btn-primary" routerLink="/new">
      ➕ New Task
    </button>
  </div>

  <app-task-table
    [tasks]="tasks"
    (edit)="edit($event)"
    (delete)="delete($event)">
  </app-task-table>

  <div class="card shadow border-0">
    <div class="table-responsive">

      <table class="table table-hover align-middle mb-0">

        <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Created</th>
          <th>Status</th>
          <th class="text-end">Actions</th>
        </tr>
        </thead>

        <tbody>

          @if (tasks.length === 0) {
            <tr>
              <td colspan="6" class="text-center text-muted py-4">
                No tasks found
              </td>
            </tr>
          }

            @for (task of tasks; track task.id) {
            <tr>

              <td>{{ task.id }}</td>
              <td>{{ task.title }}</td>
              <td class="text-muted">{{ task.description }}</td>
              <td>{{ task.createdAt | date:'short' }}</td>

              <td>
                <app-status-badge [status]="task.status"></app-status-badge>
              </td>

            </tr>
          }

        </tbody>

      </table>

    </div>
  </div>

</div>
