<table class="table table-hover bg-white shadow rounded">

  <thead class="table-light">
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Date</th>
    <th width="150">Actions</th>
  </tr>
  </thead>

  <tbody>

    @for (task of tasks; track task.id) {
      <tr>

        <td>{{ task.title }}</td>

        <td>
          <app-status-badge [status]="task.status"></app-status-badge>
        </td>

        <td>
          {{ task.createdAt | date:'short' }}
        </td>

        <td>
          <button
            class="btn btn-sm btn-warning me-2"
            (click)="onEdit(task.id)">
            Edit
          </button>

          <button
            class="btn btn-sm btn-danger"
            (click)="onDelete(task.id)">
            Delete
          </button>
        </td>

      </tr>
    }

  </tbody>

</table>
